@font-face {
    font-family: norse;
    src: url(Norse-Bold.otf);
}

.main-container {
    display: flex;
    flex-direction: row;
}

.sidebar {
    display: flex;
    flex-direction: column;
    background-image: url("halie-west-25xggax4bSA-unsplash.jpg");
    width: 40vw;
    height: 100vh;
}

.main-content {
    display: flex;
    flex-direction: column;
    /* margin-top: 175px;
    margin-left: 100px;
    margin-right: 350px; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header-div {
    background-color: rgb(232, 232, 232);
}

.header-text {
    padding: 225px 225px 100px 100px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    margin-top: 37vh;
    width: 40vw;
    height: 30vh;
}

.odin-head {
    height: 225px;

}

.logo-text {
    font-family: norse;
    font-size: 10rem;
    color: white;
}

.form-div {
    /* display: flex;
    flex-flow: column wrap; */
    padding: 10px 125px 100px 100px;
    /* height: 150px; */
    height: 200px;
    z-index: 1;
    box-shadow: 0px 2px 5px gray;
}


.bottom-div {
    display: flex;

    background-color: rgb(232, 232, 232);

}

label {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}


.info-form {
    display: flex;

}

.form-columns {
    display: flex;
    gap: 50px;
}

.form-column {
    flex: 50%;
}

.bottom-div {
    display: flex;
    flex-direction: column;
    padding: 100px;
}

button {
    background-color: #596D48;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 10px;
    height: 85px;
    width: 300px;
}

.login-text {
    color: #596D48;
}

input {
    border-radius: 5px;
    height: 25px;
    width: 250px;
    border: 1px solid gray;
}

input:focus {
    border: 3px solid blue;
    box-shadow: 2px 2px 5px black;
}